<div fxLayout="row" fxLayoutAlign="center start">
  <div fxFlex="30%" align="center" style="margin-top: 1%">
    <mat-card>
      <mat-card-title>
        Verträge
      </mat-card-title>
      <mat-divider></mat-divider>
        <div fxLayout="row" fxLayoutGap="5%" style="justify-content: center">
          <div>
            <mat-card-actions align="center" style="margin-bottom: 0%">
              <button mat-stroked-button color="accent" (click)="showUser()">Show User</button>
            </mat-card-actions>
          </div>
          <div *ngxPermissionsOnly="perm">
            <mat-card-actions align="center" style="margin-bottom: 0%">
              <button mat-stroked-button color="accent" (click)="newVertrag()">New Vertrag</button>
            </mat-card-actions>
          </div>
          <div>
            <mat-card-actions align="center" style="margin-bottom: 0%">
              <button mat-stroked-button color="accent" (click)="logout()">Logout</button>
            </mat-card-actions>
          </div>
        </div>
      <mat-divider></mat-divider>
      <form class="form-control" >
            <mat-chip-list class="mat-chip-list-stacked">
              <mat-chip style="width: 100%" *ngFor="let vertrag of vertraege" selected color="accent" fxLayoutAlign="center" (click)="showVertrag(vertrag.id)">
                {{vertrag.name}}
              </mat-chip>
            </mat-chip-list>
      </form>
    </mat-card>
  </div>
</div>




