<div fxLayout="row" fxLayoutAlign="center start">
  <div fxFlex="30%" align="center" style="margin-top: 1%">
    <mat-card>
      <mat-card-title>
        Neuen User anlegen
      </mat-card-title>
      <mat-divider></mat-divider>
      <form class="form-control">
        <div fxLayout="100%" *ngIf="falsePasswort" style="color: red; margin-bottom: 5%" fxLayoutAlign="center" >
            Error: Die angegebenen Passwörter stimmen nicht überein.
        </div>
        <div fxLayout="100%">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Bitte geben Sie hier den neuen User-Namen ein" [(ngModel)]="username" name="username" required>
          </mat-form-field>
        </div>
        <div fxLayout="100%">
          <mat-form-field class="example-full-width">
            <input  matInput placeholder="Bitte geben Sie hier das neue Passwort ein" [(ngModel)]="passwordNew"type="password" name="password" required>
          </mat-form-field>
        </div>
        <div fxLayout="100%">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Bestätigung des Passwortes" [(ngModel)]="confirmation"type="password" name="password" required (keyup.enter)="save()">
          </mat-form-field>
        </div>
        <mat-form-field>
          <mat-label>Rolle auswählen</mat-label>
          <mat-select required>
            <mat-option  *ngFor="let role of roles" (click)="getInnerText(role)" [value]="role" required>
              {{role}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
      <div fxLayout="row" fxLayoutGap="5%" style="justify-content: center">
        <div>
          <mat-card-actions >
            <div [matTooltip]="checkFields() ? 'Es müssen alle Felder ausgefüllt sein.' : null">
            <button [disabled]="checkFields()" mat-raised-button (click)="save()" color="primary">
              Save
            </button>
            </div>
          </mat-card-actions>
        </div>
        <div >
          <mat-card-actions>
            <button mat-raised-button (click)="back()"  color="primary">Zurück</button>
          </mat-card-actions>
        </div>
      </div>
    </mat-card>
  </div>
</div>




