<div *ngIf="vertrag && vertragForm" fxLayout="row" fxLayoutAlign="center start">
  <div fxFlex="50vw">
    <mat-card>
      <mat-card-title>
        {{vertrag.name}}
      </mat-card-title>
      <mat-divider></mat-divider>
      <form [formGroup]="vertragForm" class="form-control" fxLayout="column" fxLayoutGap="5px">
        <div fxLayout="row" fxLayoutGap="5%">

          <div fxFlex="30">
            <app-id [control]="vertragForm.get('id')"></app-id>
          </div>

          <div fxFlex="30">
            <app-name [control]="vertragForm.get('name')"></app-name>
          </div>

          <div fxFlex="30" fxFlexAlign="center">
            <app-projektnummer [control]="vertragForm.get('projektnummer')"></app-projektnummer>
          </div>

        </div>
        <div fxLayout="row">
          <div fxFlex="100">
            <app-notiz [control]="vertragForm.get('notiz')"></app-notiz>
          </div>
        </div>
      </form>
      <div fxLayout="row" fxLayoutGap="5%" style="justify-content: center">
        <div *ngIf="hasPermission">
          <mat-card-actions>
            <button mat-raised-button (click)="delete()"  color="primary">Löschen</button>
          </mat-card-actions>
        </div>
        <div *ngIf="hasPermission">
          <mat-card-actions>
              <button [disabled]="!isChanged()" mat-raised-button (click)="save()"  color="primary">Speichern</button>
          </mat-card-actions>
        </div>
        <div >
          <mat-card-actions>
            <button mat-raised-button (click)="back()"  color="primary">Zurück</button>
          </mat-card-actions>
        </div>
      </div>
    </mat-card>
  </div>
</div>

