<div fxLayout="row" fxLayoutAlign="center start">
  <div fxFlex="30%" align="center" style="margin-top: 1%">
    <mat-card>
      <mat-card-title>
        Zugriffsschutz
      </mat-card-title>
      <mat-divider></mat-divider>
      <form class="form-control">
        <div fxLayout="100%" fxLayoutAlign="center" style="margin-bottom: 3%">
          Bedauerlicherweise haben Sie keine Berechtigung, die angeklickte Seite zu sehen.
          Bitte wenden Sie sich bezüglich der Berechtigung an den Admin.
        </div>
<!--        <div fxLayout="row" fxLayoutGap="5%" style="justify-content: center">-->
<!--        <div>-->
<!--          <mat-card-actions align="center" style="margin-bottom: 0%">-->
<!--            <button mat-stroked-button color="accent" (click)="showUser()">Show User</button>-->
<!--          </mat-card-actions>-->
<!--        </div>-->
<!--        <div>-->
<!--          <mat-card-actions align="center" style="margin-bottom: 0%">-->
<!--            <button mat-stroked-button color="accent" (click)="newVertrag()">New Vertrag</button>-->
<!--          </mat-card-actions>-->
<!--        </div>-->
<!--          <mat-divider></mat-divider>-->
<!--          <div>-->
<!--          <mat-card-actions align="center" style="margin-bottom: 0%">-->
<!--            <button mat-stroked-button color="accent" (click)="logout()">Logout</button>-->
<!--          </mat-card-actions>-->
<!--          </div>-->
<!--        </div>-->
<!--      <form class="form-control" >-->
<!--        <mat-chip-list class="mat-chip-list-stacked">-->
<!--          <mat-chip style="width: 100%" *ngFor="let vertrag of vertraege" selected color="accent" fxLayoutAlign="center" (click)="showVertrag(vertrag.id)">-->
<!--            {{vertrag.name}}-->
<!--          </mat-chip>-->
<!--        </mat-chip-list>-->
      </form>
      <div fxLayout="row" fxLayoutGap="5%" style="justify-content: center">
        <div>
          <mat-card-actions align="center" style="margin-bottom: 0">
            <button mat-raised-button color="primary" (click)="logout()">Logout</button>
          </mat-card-actions>
        </div>
        <div >
          <mat-card-actions>
            <button mat-raised-button (click)="back()"  color="primary">Zurück</button>
          </mat-card-actions>
        </div>
      </div>
    </mat-card>
  </div>
</div>




