<form [formGroup]="control.parent">
  <mat-form-field>
    <textarea matInput formControlName="{{getControlNameMethod(control)}}" placeholder="Projektnummer" rows="1"></textarea>
  </mat-form-field>
</form>
