<form [formGroup]="control.parent">
  <mat-form-field>
    <textarea matInput formControlName="{{getControlNameMethod(control)}}" placeholder="Notiz" rows="1"></textarea>
<!--    <mat-error *ngIf="control.invalid">{{ VALID_MESSAGES.NOTES_TOO_LONG }}</mat-error>-->
  </mat-form-field>
</form>
