<div fxLayout="row" fxLayoutAlign="center start">
  <div fxFlex="30%" align="center" style="margin-top: 1%">
    <mat-card>
      <mat-card-title>
        Login
      </mat-card-title>
      <mat-divider></mat-divider>
      <form class="form-control">
        <div fxLayout="100%" *ngIf="authenticate == false" style="color: red; margin-bottom: 5%" fxLayoutAlign="center" >
          Error: Die eingegebenen User-Daten waren nicht korrekt.
        </div>
          <div fxLayout="100%">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Username" [(ngModel)]="credentials.username" name="username" required>
          </mat-form-field>
          </div>
          <div fxLayout="100%">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Password" [(ngModel)]="credentials.password"type="password" name="password" required (keyup.enter)="login()">
            </mat-form-field>
          </div>
      </form>
      <mat-card-actions >
        <div [matTooltip]="checkFields() ? 'Es müssen alle Felder ausgefüllt sein.' : null">
          <button [disabled]="checkFields()" mat-raised-button (click)="login()" color="primary">Login</button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>




