<div fxLayout="row" fxLayoutAlign="center start">
  <div fxFlex="30%" align="center" style="margin-top: 1%">
    <mat-card>
      <mat-card-title>
        Neuen Vertrag anlegen
      </mat-card-title>
      <mat-divider></mat-divider>
      <form class="form-control">
        <div fxLayout="100%">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Bitte geben Sie hier den neuen Vertrags-Namen ein" [(ngModel)]="vertragName" name="vertragsname" required>
          </mat-form-field>
        </div>
        <mat-form-field>
          <mat-label>Projekt auswählen</mat-label>
          <mat-select required>
            <mat-option  *ngFor="let projekt of projekte" (click)="getInnerText(projekt)" [value]="projekt" required>
              {{projekt.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div fxLayout="100%">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Bitte geben Sie hier Ihre Notiz ein" [(ngModel)]="notiz" name="notiz">
          </mat-form-field>
        </div>
      </form>
      <div fxLayout="row" fxLayoutGap="5%" style="justify-content: center">
        <div>
          <mat-card-actions >
            <div [matTooltip]="checkFields() ? 'Es müssen alle Felder bis auf Notiz ausgefüllt sein.' : null">
              <button [disabled]="checkFields()" mat-raised-button (click)="save()" color="primary">
                Save
              </button>
            </div>
          </mat-card-actions>
        </div>
        <div >
          <mat-card-actions>
            <button mat-raised-button (click)="back()"  color="primary">Zurück</button>
          </mat-card-actions>
        </div>
      </div>
    </mat-card>
  </div>
</div>




