<div  fxLayoutAlign="center start">
  <div fxFlex="30%" align="center" style="margin-top: 1%">
    <mat-card>
      <mat-card-title>
        Welcome to Monjas Projektarbeit
      </mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-actions align="center">
        <button mat-raised-button color="accent" (click)="signIn()" >Sign In</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
