<form [formGroup]="control.parent">
  <mat-form-field>
    <mat-select [formControl]="roleControl" [(ngModel)]="selected" required (click)="getInnerText(getRole())" [disabled]="disabled">
      <mat-option value="initialRole">
        {{getRole()}}
      </mat-option>
      <mat-option  *ngFor="let role of roles" [value]="control" (click)="getInnerText(role)">
        {{role}}
      </mat-option>
    </mat-select>
  <mat-error *ngIf="control.value === null">Please choose an role</mat-error>
  </mat-form-field>
</form>
