/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  font-family: Roboto, Arial, sans-serif;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}


.inputfile + label {
  font-size: 1.25em;
  text-align: center;
  color: #cdcdcd;
  display: inline-block;
}

.uploadInput {
  padding: 20px;
  width: 100%;
  height: 10%;
  border-style: dotted;
}

button:focus {
  outline: none !important;
}

.pointer {
  cursor: pointer !important;
}



.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}


/* MATERIAL */
mat-input {
  vertical-align: middle;
}

mat-input, mat-radio-button {
  margin-right: 1rem;
}

mat-select {
  width: 200px;
}

mat-slide-toggle {
  display: inline-block !important;
}

mat-form-field.mat-form-field-type-mat-chip-list {
  width: 100%;
}

dynamic-material-form-control {
  width:100% ;
}

mat-form-field {
  width: 100%;
}

.form-control {
  margin-top: 25px;
}

.leistungskategorie {
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}

.aenderungshistorie {
  margin-left: 20px;
}

.lock {
  font-size: inherit;
  display: inline !important;
  vertical-align: sub;
}
